@font-face {
    font-family: myFirstFont;
    src: url('/static/fonts/GeosansLight.ttf');
} 

body, html {
    background-color:black;
    color: white;
    font-family: myFirstFont;
    height: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
.container {
    position: relative;
}

#photo {
    z-index: -1;
}

.bottom-left {
    background-color: black;
    border-radius: 5px;
    bottom: 8px;
    left: 16px;
    opacity: 0.6;
    padding: 1px;
    position: absolute;
}

.bottom-right {
    background-color: black;
    border-radius: 25px;
    bottom: 8px;
    opacity: 0.6;
    padding: 10px;
    position: absolute;
    right: 16px;
}
