@font-face {
    font-family: myFirstFont;
    src: url('/static/fonts/GeosansLight.ttf');
} 

body, html {
    font-family: myFirstFont;
    height: 100%;
    background-color:black;
    overflow: hidden;
}
  
.container {
    z-index: 100000;
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    border-radius: 25px;
    padding: 10px;
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: black;
    opacity: 0.6;
}

.bottom-left {
    border-radius: 5px;
    padding: 1px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: black;
    opacity: 0.6;
}